dl {
  position: absolute;
  top: 30px;
  width: 50%;
  margin: 2em 2em;
  padding: 0;
  clear: both;
  overflow: auto;
}
dt {
  width: 30%;
  float: left;
  margin: 0;
  padding: 5px 9.9% 5px 0;
  font-weight: bold;
  overflow: auto;
  clear: left;
}
dd {
  width: 20%;
  float: left;
  margin: 0;
  padding: 5px 0 5px 0;
  overflow: auto;
}
